<%- include('./Delta/header') %>

<script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
<script src="https://unpkg.com/dayjs@1.8.21/plugin/customParseFormat.js"></script>
<script src="https://unpkg.com/dayjs@1.8.21/plugin/isSameOrBefore.js"></script>


<%- include('./Delta/navbar') %>

   <h2><%=date%></h2>

     <form id="myForm" action="/availableSlots" method="post">
           <input type="text" name="date" value="<%=date%>" style="display: none;">
           <input type="text" name="centerId" value="<%=centerId%>" style="display: none;">
           <input type="text" name="departmentId" value="<%=deptId%>" style="display: none;">
           <input type="text" name="userId" value="<%=userId%>" style="display: none;">

     </form>

     <script>

       dayjs.extend(window.dayjs_plugin_customParseFormat);
       dayjs.extend(window.dayjs_plugin_isSameOrBefore);
       dayjs().format();

function load() {


       let $form=document.getElementById('myForm')
       let openingTime=dayjs("<%=openingTime%>","YYYY-MM-DDTHH:mm");
       let closingTime=dayjs("<%=closingTime%>","YYYY-MM-DDTHH:mm");
       let time=openingTime;
       let bookedSlotss=[];
       let condition=time.isSameOrBefore(closingTime)

      while(condition){

       let button=document.createElement("BUTTON");
       let hour=time.$H;
       let minute=time.$m;

       if(time.$H<10){
         hour="0"+time.$H;
       }
       if(time.$m<10){
         minute="0"+time.$m;
       }

       let text=hour+":"+minute;

       let value=time.$y+"-"+time.$M+"-"+time.$D+"T"+text;

       button.value=value;

       var textnode = document.createTextNode(text);

       button.append(textnode);

       button.type="submit";

       button.setAttribute('name','slot');


       if(<%=dateExists%>){

        bookedSlotss=<%- JSON.stringify(bookedSlots) %>;

        if(bookedSlotss.includes(value)) {
          button.setAttribute('disabled','disabled');
            }
       }
       $form.append(button);

       time=time.add(<%=averageTime%>,'m');
       condition=time.isSameOrBefore(closingTime)
       console.log(time,condition);

     }

   }
   load();

     </script>

</body>
</html>
