<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style media="screen">
      .search {
        outline: none;
      }


      #categories {
        list-style-type: none;
        overflow: hidden;
        display: flex;
        flex-wrap: nowrap;
        overflow-x: scroll;
        overflow-y: hidden;

      }

      #categories li {
        display: inline;
      }

      #categories::-webkit-scrollbar {
        background-color: rgba(41, 43, 44,0.9);
      }

      .color {
        outline: none;
        border: none;
        margin: 0;
        background-color: white;
        height: 8vh;
        padding: 0 10px;
        /*transition-property:border-top-left-radius,border-top-right-radius,background-color,color;
          transition-duration: 0.5s;*/
      }

      .animation1 {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        color: white;
        background-color:rgba(41, 43, 44,0.9);
        transition-property: all;
        transition-duration: 0.5s;
      }

      i {
        padding-right: 10px;
        color: #948772;
      }

      .ratings-list {
        list-style-type: none;
      }

      .ratings-list li {
        display: inline;
        font-size: 1.5rem;
      }

      .ratings-list li span {
        font-size: 1.5em;
      }

      .active-rating {
        color: yellow;
      }
      .cardText{
        height: 30vh;
        overflow-x:scroll;
      }
      .cardText::-webkit-scrollbar {
                background-color: white;
            }

      #cardContainer{
              display: flex;
            flex-wrap: wrap;
              justify-content: space-around;
            }
      .Cards{
        width: 30%;
      }  @media only screen and (max-width: 600px) {
        #cardContainer{
          display: block;
        }
        .Cards{
          width: auto;
        }
          }
          .form-control {
            border-radius: 0;
          }
          textarea {
            resize: none;
          }
          .btnAuth{
            line-height: 2.3;
            margin: 9px;
          }

    </style>

    <title>Hello, world!</title>
  </head>
  <body>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Login</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>
      </div>

    </div>
  </div>
</div>




<nav class="navbar navbar-expand-lg navbar-dark bg-dark" >
  <a class="navbar-brand" href="#">EXCELERENTUM</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item ">
        <a class="nav-link" href="/">HOME</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/center">CENTRE</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/register">REGISTER</a>
      </li>


        <% if(auth) { %>
            <li><a href="/user/profile" class="nav-link"><i class="fa fa-user" aria-hidden="true" ></i>My Profile</a></li>
          <li><form action="/logout" method="POST">
            <button type="submit" class="btnAuth">Logout</button>
          </form></li>

        <% } else { %>
            <li><a href="/signup" class="nav-link"><i class="fa fa-user" aria-hidden="true" ></i>Sign Up</a></li>
          <li><form action="/login" method="GET">
            <button type="submit" class="btnAuth"></submit>Login
          </form></li>
        <% } %>
    </ul>
  </div>
</nav>
<div class="container w-75 mx-auto my-4">
  <input type="text" name="searchbar" class="search w-100 rounded-pill p-3" placeholder="Search...">
</div>

<div class="container w-100 mt-3 mb-0 p-0">
  <ul id="categories" class="m-0 p-0 w-100">

    <li class="mx-3 mb-0"><button type="button" name="button" class="color" ;" onclick="change(this)">Banks</button>
    </li>
    <li class="mx-3 mb-0"><button type="button" name="button" class="color" onclick="change(this)">Hospitals</button>
    </li>
    <li class="mx-3 mb-0"><button type="button" name="button" class="color" onclick="change(this)">Government
        Offices</button></li>
    <li class="mx-3 mb-0"><button type="button" name="button" class="color" onclick="change(this)">Restraunt</button>
    </li>
    <li class="mx-3 mb-0"><button type="button" name="button" class="color"
        onclick="change(this)">Salons/Spas</button></li>


  </ul>
</div>
  <div class="container w-100  mx-auto mt-0" style="background-color: rgba(41, 43, 44,0.9);">
  <div class="py-5 w-100" id="cardContainer">
    <% var i =0 %>
    <% while(Cntr[i]){ %>
    <div class="card mb-4 Cards"  >
      <%if(Cntr[i].images){ %>
        <img class="card-img-top" src="<%= Cntr[i].images[0] %>" alt="Card image cap">
      <%}
      else{%>
      <img src="https://images.livemint.com/img/2019/06/16/600x338/banks_1560706191442.jpg" class="card-img-top"
        alt="...">
      <%}%>
      <div class="card-body">
        <h5 class="card-title"><%= Cntr[i].product_name %></h5>
        <p class="card-text cardText"><%= Cntr[i].desc %></p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><i class="fa fa-map-marker" aria-hidden="true"></i><%= Cntr[i].location %></li>
        <li class="list-group-item">
          <ul class="ratings-list">
            <li><span class="active-rating">&starf;</span></li>
            <li><span class="active-rating">&starf;</span></li>
            <li><span class="active-rating">&starf;</span></li>
            <li><span class="active-rating">&starf;</span></li>
            <li><span>&starf;</span></li>
          </ul>
        </li>
        <li class="list-group-item"><i class='fas fa-phone fa-rotate-90'></i> +91 0123456789</li>
      </ul>
      <div class="card-body">
          <a href="/center/<%= Cntr[i].id %>" class="btn w-100" style="background-color: rgba(41, 43, 44,0.9);color:white;">Book Now</a>
      </div>
    </div>
    <% i++ %>
    <% } %>
  </div>
</div>

<script type="text/javascript">
  function change(a) {
    let list = document.getElementsByClassName('color');
    for (var i = 0; i < list.length; i++) {
      list[i].classList.remove('animation1')

      list[i].style.outline = 'none';

    }
    a.classList.add('animation1')
  }
</script>

<!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>
