<%- include('../main/Delta/header') %>

  <link rel="stylesheet" href="/css/profile.css">

  <%- include('../main/Delta/navbar') %>


    <body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="50">


      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel" style="font-size:1.5em;">Are You sure You want to cancel
                this Appointment?</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">

              </button>
            </div>
            <div class="modal-footer">
              <form action="/cancelAppointment" method="post">
                <button type="submit" class="btn btn-success" id="ticketId" name="ticketId">Yes</button>
              </form>
              <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
            </div>
          </div>
        </div>
      </div>

    
      <div class="container-fluid bg-4 text-center">
        <div class="row">
          <div class="col-sm-3 well bg-2">
            <div class="well bg-3">
              <p><a href="#">My Profile</a></p>
              <img src="https://image.freepik.com/free-vector/people-profile-icon_24877-40756.jpg" class="img-circle"
                height="100" width="100" alt="Avatar">
              <p class="userdetails">
                <%=user.name%>
              </p>
              <small style="color: #000;">
                <%=user.mobile%>
              </small>

            </div>
            <div class="alert alert-success fade in ">
              <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
              <p><strong>Yo!</strong></p>
              You Have Some Upcoming Appointments!
            </div>
          </div>
          <div class="col-sm-7">

            <div class="row">
              <div class="col-sm-12 ">
                <div class="panel panel-default text-left">
                  <div class="panel-body bg-2">
                    <p>
                    <h2>My Appointments</h2>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <%for(var i=0; i< req_ticket.length; i++){%>
              <div class="row">
                <div class="col-sm-3">
                  <div class="well bg-2">
                    <p>Centre <%=i+1%>
                    </p>
                    <img src="<%=req_ticket[i].qrcode%>" height="116" width="116" alt="Avatar">
                  </div>
                </div>
                <div class="col-sm-9">
                  <div class="well bg-2">
                    <p>Date: <%=req_ticket[i].date%>
                    </p>
                    <!--date of Appointment-->
                    <p>Department: <%=req_ticket[i].department%>
                    </p>
                    <p>Centre: <%=myCntr[i]%>
                    </p>
                    <form action="/cancelAppointment" method="post">
                      <button class="btn btn-danger canBtn" type="submit" value="<%=req_ticket[i].id%>"
                        name="ticketId">Cancel Appointment</button>
                    </form>
                  </div>
                </div>
              </div>
              <%}%>

                <div class="row">

                  <div class="col-sm-2 well bg-2">
                    <div class="thumbnail bg-3">

                      <p>Upcoming Appointments:</p>
                      <img
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRHwRlGdLYySZZYg5MEX0KaWowPf9WBaLgQIg&usqp=CAU"
                        alt="Paris" width="100" height="100">
                      <p><strong>Today</strong></p>
                      <p><strong>at Centre Name</strong></p>
                      <p>Estimated Time: 4:00 PM</p>
                      <button class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">Cancel
                        Appointment</button>
                    </div>
                  </div>
                </div>
          </div>
        </div>


    

<%- include('../main/Delta/footer') %>
